<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barrysbeerbar.card">

    <!-- Card emulation was introduced in API 19. -->
    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BEGIN_INCLUDE(CardEmulationManifest) -->
        <!-- Service for handling communication with NFC terminal. -->
        <!-- TODO: Register card emulation service, with intent filter and link to aid_list -->
        <!-- END_INCLUDE(CardEmulationManifest) -->
    </application>

</manifest>
